@media screen and (max-width: 1600px) {
  :root {
    --productH: calc(var(--winWidth) / 3);
  }

  #wrap1 #product-contents #pdt-list .product {
    width: 33.3%;
  }
}

/* tablet 768px ~ 992px 1100px or */
@media screen and (max-width: 1100px) {
  :root {
    --productH: calc(var(--winWidth) / 2);
  }

  #wrap1 #product-contents #pdt-list .product {
    width: 50%;
  }
}

/* mobile 0 ~ 768px */
@media screen and (max-width: 768px) {
  #wrap1 #menu1 .hamburger-btn {
    float: right;
    display: block;
    cursor: pointer;
    height: var(--menuHeight);
    width: var(--menuHeight);
    border: 0;
  }

  #wrap1 #menu1 .hamburger-btn span {
    display: block;
    border: var(--menuHMg) solid var(--mainColor0);
    width: calc(var(--menuHeight) * 0.7);
    margin: calc((var(--menuHeight) - var(--menuHMg)*6)/4) auto;
  }

  #wrap1 #menu1 .gnb {
    display: none;
    position: absolute;
    margin-right: 0;
    top: calc(var(--menuHeight) + 1px);
    right: 0;
    background-color: var(--subColor3);
    width: 100%;
  }

  #wrap1 #menu1 .gnb li {
    display: block;
  }

  /* sign-form */
  :root {
    --signFormW: max(200px, calc(var(--winWidth) * 0.8));
    --signFont: max(16px, calc(var(--winWidth) * 0.16 * 0.15));
  }

  #wrap1 #sign-form>div {
    padding: max(10px, calc(var(--winWidth) * 0.1 * 0.3));
  }

  #wrap1 #sign-form input {
    width: max(160px, calc(var(--winWidth) * 0.5));
  }

  :root {
    --productH: var(--winWidth);
  }

  #wrap1 #product-contents #pdt-list .product {
    width: 100%;
  }
}