#wrap1 {
    width: 100%;
    user-select: none;
    display: none;
    border: 0;
    height: 1000px;
}

#wrap1 #menu1 {
    position: sticky;
    top: 0;
    width: calc(var(--winWidth) * 0.94);
    margin: 0 auto;
    background-color: var(--subColor);
    border: 0;
    border-bottom: 1px solid var(--mainColor);
}

#wrap1 #menu1 #title1 {
    float: left;
    margin-left: calc(var(--winWidth) * 0.02);
    border: var(--menuBorder);
    display: flex;
    height: var(--menuHeight);
}

#wrap1 #menu1 #title1 a {
    text-decoration: none;
    font-size: var(--menuTitleFont);
    font-family: 'Colonna';
    color: inherit;
    border: var(--menuBorder);
    margin: auto;
}

#wrap1 .hamburger-btn {
    display: none;
}

#wrap1 #menu1 .gnb {
    float: right;
    list-style-type: none;
    font-size: 0;
    margin-right: calc(var(--winWidth) * 0.02);
    border: 0;
}

#wrap1 #menu1 .gnb li {
    font-size: var(--menuLiFont);
    line-height: var(--menuHeight);
    margin-left: calc(var(--winWidth) * 0.02);
    display: inline-block;
    border: var(--menuBorder);
}

#wrap1 #menu1 .gnb li a {
    text-decoration: none;
    color: inherit;
    border: 0;
}

#wrap1 #menu1 .gnb li span {
    color: inherit;
    border: 0;
}

#wrap1 #menu1 .gnb #sign-out,
#wrap1 #menu1 .gnb #del-account,
#wrap1 #menu1 .gnb #login-username,
#wrap1 #menu1.logged-in-menu .gnb #sign-in,
#wrap1 #menu1.logged-in-menu .gnb #sign-up {
    display: none;
}

#wrap1 #menu1.logged-in-menu .gnb #sign-out,
#wrap1 #menu1.logged-in-menu .gnb #del-account,
#wrap1 #menu1.logged-in-menu .gnb #login-username {
    display: initial;
}


/* sign-form */
:root {
    --signFormW: min(500px, calc(var(--winWidth) * 0.5));
    --signFont: 18px;
}

#wrap1 {
    background-color: #DADAD2;
}

#wrap1 #sign-form {
    position: fixed;
    width: var(--signFormW);
    top: 50%;
    left: 50%;
    transform: translateY(calc(-50%));
    margin-left: calc(var(--signFormW)/-2);
    display: none;
    border: 1px solid var(--mainColor);
}

#wrap1 #sign-form>div {
    padding: 40px;
    text-align: center;
    border: 0;
}

#wrap1 #sign-form input {
    display: block;
    margin: 10px auto;
    margin-top: 20px;
    border: 0;
    border-bottom: 1px solid var(--mainColor);
    background-color: transparent;
    font-size: var(--signFont);
}

#wrap1 #sign-form .btns {
    text-align: center;
    border: 0;
}

#wrap1 #sign-form .btns button {
    margin: 10px;
    margin-top: 25px;
    padding: 10px 20px;
    color: var(--subColor);
    background-color: var(--mainColor);
    border: 0;
    font-size: var(--signFont);
}

#wrap1 #sign-form .btns button:disabled {
    background-color: var(--mainColor2);
}

#wrap1 #sign-form #fb-password-reset {
    margin-top: 10px;
    font-size: var(--signFont);
    border: 0;
}

#wrap1 #sign-form .btns #fb-sign-in,
#wrap1 #sign-form .sing-in-form .btns #fb-sign-up,
#wrap1 #sign-form .sing-in-form input#username,
#wrap1 #sign-form #fb-password-reset {
    display: none;
}

#wrap1 #sign-form .sing-in-form .btns #fb-sign-in {
    display: initial;
}

#wrap1 #sign-form .sing-in-form #fb-password-reset {
    display: inline-block;
}
