/* tablet 768px ~ 992px 1100px or */
@media screen and (max-width: 1100px) {

  /* story */
  :root {
    --storyPFont: max(calc(26px * 0.7), calc(var(--winWidth) * 0.22 * 0.08));
  }

  #wrap0 #main #story .img {
    width: calc(var(--winWidth) * 0.45);
    height: calc(var(--winHeight) * 0.7);
  }

  #wrap0 #main #story p {
    width: calc(var(--winWidth) * 0.43);
  }

  /* products */
  :root {
    --productsPFont: max(calc(26px * 0.7), calc(var(--winWidth) * 0.22 * 0.08));
  }

  #wrap0 #main #products #product-list>div .product .img {
    width: calc(var(--winWidth) * 0.45);
    height: calc(var(--winHeight) * 0.7);
  }

  #wrap0 #main #products #product-list>div .product p {
    width: calc(var(--winWidth) * 0.43);
  }

  /* contact */
  :root {
    --contacth2Font: max(calc(22px * 0.8), calc(var(--winWidth) * 0.22 * 0.08));
    --contactPFont: max(calc(18px * 0.8), calc(var(--winWidth) * 0.18 * 0.08));
  }

  #wrap0 #main #contact {
    position: relative;
    height: var(--winHeight);
    border: 0;
  }

  #wrap0 #main #contact #map {
    position: absolute;
    width: calc(var(--winWidth) * 0.45);
    height: calc(var(--winHeight) * 0.7);
    top: calc(var(--menuHeight) + var(--winHeight) * 0.1);
    left: calc(var(--winWidth) * 0.05);
    border: 2px solid var(--mainColor);
  }

  #wrap0 #main #contact #map * {
    border: 0;
  }

  #wrap0 #main #contact #contact-list {
    position: absolute;
    width: calc(var(--winWidth) * 0.4);
    top: calc(var(--menuHeight) + var(--winHeight) * 0.1);
    right: calc(var(--winWidth) * 0.05);
    border: 0;
  }

  #wrap0 #main #contact #contact-list h2 {
    font-size: var(--contacth2Font);
    margin-top: 20px;
    border: 0;
  }

  #wrap0 #main #contact #contact-list p {
    font-size: var(--contactPFont);
    padding: 20px;
    border: 0;
  }
}

/* mobile 0 ~ 768px */
@media screen and (max-width: 768px) {

  #wrap0 #intro>div {
    font-size: max(calc(34px * 0.35), calc(var(--winWidth) * 0.34 * 0.08));
  }

  #wrap0 #intro>div span {
    font-size: max(calc(56px * 0.35), calc(var(--winWidth) * 0.56 * 0.08));
  }

  #wrap0 #webgl-output {
    display: none;
  }

  #wrap0 #down-arrow {
    font-size: max(calc(56px * 0.7), calc(var(--winWidth) * 0.56 * 0.08));
    left: auto;
    right: calc(var(--winWidth) * 0.05);
  }

  #wrap0 #front h1 {
    top: calc(var(--winHeight) * 0.13);
    font-size: max(calc(90px * 0.45), calc(var(--winWidth) * 0.90 * 0.08));
  }

  #wrap0 #front p {
    width: calc(var(--winWidth) * 0.76);
    bottom: calc(var(--winHeight) * 0.15);
    right: calc(var(--winWidth) * 0.120);
    font-size: max(calc(34px * 0.5), calc(var(--winWidth) * 0.34 * 0.08));
    text-align: center;
  }

  /* menu */
  :root {
    --menuHeight: calc(60px * 3/4);
    --menuTitleFont: calc(34px * 3/4);
    --menuLiFont: calc(18px * 4/5);
    --menuBorder: 0px solid red;
    --menuHMg: 1px;
  }

  #wrap0 #main #menu #hamburger-btn {
    float: right;
    display: block;
    cursor: pointer;
    height: var(--menuHeight);
    width: var(--menuHeight);
    border: 0;
  }

  #wrap0 #main #menu #hamburger-btn span {
    display: block;
    border: var(--menuHMg) solid var(--mainColor);
    width: calc(var(--menuHeight) * 0.7);
    margin: calc((var(--menuHeight) - var(--menuHMg)*6)/4) auto;
  }

  #wrap0 #main #menu #gnb {
    display: none;
    position: absolute;
    margin-right: 0;
    top: calc(var(--menuHeight) + 1px);
    right: 0;
    background-color: var(--subColor2);
  }

  #wrap0 #main #menu #gnb li {
    display: block;
    text-align: right;
  }

  /* story */
  :root {
    --storyPFont: max(calc(22px * 0.7), calc(var(--winWidth) * 0.22 * 0.08));
  }

  #wrap0 #main #story {
    position: static;
    /* height: var(--winHeight); */
    height: auto;
  }

  #wrap0 #main #story .img {
    position: static;
    width: calc(var(--winWidth) * 0.94);
    height: calc(var(--winHeight) * 0.5);
    padding-top: var(--menuHeight);
    margin: 0 auto;
  }

  #wrap0 #main #story p {
    position: static;
    width: calc(var(--winWidth) * 0.94);
    font-size: var(--storyPFont);
    margin: 20px auto 0;
  }

  /* products */
  :root {
    --productsPFont: max(calc(22px * 0.7), calc(var(--winWidth) * 0.22 * 0.08));
  }

  #wrap0 #main #products {
    position: static;
  }

  #wrap0 #main #products #product-list>div .product {
    position: static;
    height: auto;
  }

  #wrap0 #main #products #product-list>div .product .img {
    position: static;
    width: calc(var(--winWidth) * 0.94);
    height: calc(var(--winHeight) * 0.5);
    padding-top: var(--menuHeight);
    margin: 0 auto;
  }

  #wrap0 #main #products #product-list>div .product p {
    position: static;
    width: calc(var(--winWidth) * 0.94);
    font-size: var(--productsPFont);
    margin: 20px auto 0;
  }

  /* contact */
  :root {
    --contacth2Font: max(calc(22px*0.8), calc(var(--winWidth) * 0.22 * 0.08));
    --contactPFont: max(calc(18px*0.8), calc(var(--winWidth) * 0.18 * 0.08));
  }

  #wrap0 #main #contact {
    position: static;
    height: auto;
    padding-top: var(--menuHeight);
    border: 0;

  }

  #wrap0 #main #contact #map {
    position: static;
    width: calc(var(--winWidth) * 0.94);
    height: calc(var(--winHeight) * 0.5);
    top: auto;
    left: auto;
    margin: 0 auto 20px;
  }

  #wrap0 #main #contact #contact-list {
    position: static;
    width: calc(var(--winWidth) * 0.84);
    margin: 30px auto 0;
  }

  #wrap0 #main #contact #contact-list h2 {
    font-size: var(--contacth2Font);
    margin-top: 10px;
    border: 0;
  }

  #wrap0 #main #contact #contact-list p {
    font-size: var(--contactPFont);
    padding: 20px;
    border: 0;
  }
}