@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap');

@font-face {
  font-family: 'Colonna';
  src: url('../../css/COLONNA.woff');
}

:root {
  /* 100% for intro */
  --winWidth: 100%;
  --winHeight: 100vh;
  --mainColor0: #444242;
  --mainColor1: #444242CC;
  --subColor0: #EEEEEE;
  --subColor1: #EEEEEECC;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

body {
  margin: 0;
  padding: 0;
}

div,
h1,
h2,
h3,
p,
ul,
li,
i,
a,
img,
span,
input,
select,
option,
button,
canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
  color: var(--mainColor0);
  font-family: 'Noto Serif KR', 'Nanum Gothic';
}

body {
  background-color: var(--subColor0);
}

.logo-font {
  font-family: 'Colonna';
}

#wrap0 {
  border: 0;
  user-select: none;
  /* background-color: var(--subColor0); cannot show three ... why? */
  /* font-size: 18px, 22px, 24px, 34px, 56px */
}

#wrap0 #intro {
  position: fixed;
  /* width: var(--winWidth); */
  width: 100%;
  height: var(--winHeight);
  color: var(--subColor0);
  background-color: var(--mainColor0);
  z-index: 5;
  border: 0;
  user-select: none;
}

#wrap0 #intro>div {
  color: var(--subColor0);
  text-align: center;
  line-height: var(--winHeight);
  font-size: min(34px, calc(var(--winWidth) * 0.34 * 0.08));
  border: 0;
  display: none;
}

#wrap0 #intro>div span {
  color: inherit;
  font-size: min(56px, calc(var(--winWidth) * 0.56 * 0.08));
  border: 0;
}

#wrap0 #webgl-output {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  border: 0;
}

#wrap0 #webgl-output canvas {
  display: block;
  border: 0;
}

#wrap0 #down-arrow {
  position: fixed;
  font-size: min(56px, calc(var(--winWidth) * 0.56 * 0.08));
  bottom: calc(var(--winHeight) * 0.05);
  left: calc(var(--winWidth) * 0.05);
  opacity: 0.5;
  border: 0;
  display: none;
  z-index: 3;
}

#wrap0 #down-arrow i {
  display: block;
  cursor: pointer;
  /* visibility: visible; */
}

#wrap0 #down-arrow * {
  border: 0;
}

#wrap0 #front {
  position: relative;
  height: var(--winHeight);
  color: var(--mainColor0);
  user-select: none;
  border: 0;
}

#wrap0 #front h1 {
  position: absolute;
  top: calc(var(--winHeight) * 0.125);
  left: calc(var(--winWidth) * 0.125);
  font-size: min(90px, calc(var(--winWidth) * 0.90 * 0.08));
  font-weight: normal;
  border: 0;
}

#wrap0 #front p {
  position: absolute;
  width: calc(var(--winWidth) * 0.6);
  bottom: calc(var(--winHeight) * 0.125);
  right: calc(var(--winWidth) * 0.120);
  font-size: min(34px, calc(var(--winWidth) * 0.34 * 0.08));
  text-align: right;
  border: 0;
}


/************/
/*   main   */
#wrap0 #main {
  /* width: var(--winWidth); */
  width: 100%;
  border: 0;
}


/* menu */
:root {
  --menuHeight: 60px;
  --menuTitleFont: 34px;
  --menuLiFont: 18px;
  --menuBorder: 0px solid red;
}

#wrap0 #main #menu {
  position: sticky;
  top: 0;
  opacity: 0;
  width: calc(var(--winWidth) * 0.94);
  margin: 0 auto;
  background-color: var(--subColor0);
  border: 0;
  border-bottom: 1px solid var(--mainColor0);
  z-index: 2;
}

#wrap0 #main #menu #title {
  float: left;
  margin-left: calc(var(--winWidth) * 0.02);
  border: var(--menuBorder);
  /* line-height: var(--menuHeight); */
  display: flex;
  height: var(--menuHeight);
}

#wrap0 #main #menu #title a {
  text-decoration: none;
  font-size: var(--menuTitleFont);
  color: inherit;
  border: var(--menuBorder);
  margin: auto;
}

#wrap0 #main .hamburger-btn {
  display: none;
}

#wrap0 #main #menu .gnb {
  float: right;
  list-style-type: none;
  font-size: 0;
  margin-right: calc(var(--winWidth) * 0.02);
  border: 0;
}

#wrap0 #main #menu .gnb li {
  font-size: var(--menuLiFont);
  line-height: var(--menuHeight);
  margin-left: calc(var(--winWidth) * 0.02);
  display: inline-block;
  border: var(--menuBorder);
}

#wrap0 #main #menu .gnb li a {
  text-decoration: none;
  color: inherit;
  border: 0;
}


/* story */
:root {
  --storyPFont: min(22px, calc(var(--winWidth) * 0.22 * 0.08));
}

#wrap0 #main #story {
  position: relative;
  height: var(--winHeight);
  border: 0;
  opacity: 0;
}

#wrap0 #main #story .img {
  position: absolute;
  top: calc(var(--menuHeight) + var(--winHeight) * 0.0);
  left: calc(var(--winWidth) * 0.05);
  width: calc(var(--winWidth) * 0.55);
  height: calc(var(--winHeight) * 0.8);
  overflow: hidden;
  border: 0;
}

#wrap0 #main #story .img img {
  vertical-align: bottom;
  /* min-width: 100%; */
  /* min-height: 100%; */
  border: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#wrap0 #main #story p {
  position: absolute;
  width: calc(var(--winWidth) * 0.33);
  bottom: calc(var(--winHeight) * 0.05);
  right: calc(var(--winWidth) * 0.05);
  font-size: var(--storyPFont);
  border: 0;
}


/* businesses */
:root {
  --businessesPFont: min(22px, calc(var(--winWidth) * 0.22 * 0.08));
}

#wrap0 #main #businesses {
  position: relative;
  opacity: 0;
  border: 0;
}

#wrap0 #main #businesses #business-list {
  border: 0;
}

#wrap0 #main #businesses #business-list>div {
  border: 0;
}

#wrap0 #main #businesses #business-list>div .business {
  position: relative;
  height: var(--winHeight);
  border: 0;
}

#wrap0 #main #businesses #business-list>div .business .img {
  position: absolute;
  top: calc(var(--menuHeight) + var(--winHeight) * 0.0);
  left: calc(var(--winWidth) * 0.05);
  width: calc(var(--winWidth) * 0.55);
  height: calc(var(--winHeight) * 0.8);
  overflow: hidden;
  border: 0;
}

#wrap0 #main #businesses #business-list>div .business .img img {
  vertical-align: bottom;
  min-width: 100%;
  min-height: 100%;
  border: 0;
}

#wrap0 #main #businesses #business-list>div .business p {
  position: absolute;
  width: calc(var(--winWidth) * 0.33);
  bottom: calc(var(--winHeight) * 0.05);
  right: calc(var(--winWidth) * 0.05);
  font-size: var(--businessesPFont);
  border: 0;
}

#wrap0 #main #businesses #business-list>div .business.right .img {
  right: calc(var(--winWidth) * 0.05);
  left: auto;
}

#wrap0 #main #businesses #business-list>div .business.right p {
  left: calc(var(--winWidth) * 0.05);
  right: auto;
}


/* contact */
:root {
  --contacth2Font: min(22px, calc(var(--winWidth) * 0.22 * 0.08));
  --contactPFont: min(18px, calc(var(--winWidth) * 0.18 * 0.08));
}

#wrap0 #main #contact {
  position: relative;
  height: var(--winHeight);
  border: 0;
}

#wrap0 #main #contact #map {
  position: absolute;
  width: calc(var(--winWidth) * 0.45);
  height: calc(var(--winHeight) * 0.7);
  top: calc(var(--menuHeight) + var(--winHeight) * 0.1);
  left: calc(var(--winWidth) * 0.05);
  border: 2px solid var(--mainColor0);
}

#wrap0 #main #contact #map * {
  border: 0;
}

#wrap0 #main #contact #contact-list {
  position: absolute;
  width: calc(var(--winWidth) * 0.4);
  top: calc(var(--menuHeight) + var(--winHeight) * 0.1);
  right: calc(var(--winWidth) * 0.05);
  border: 0;
}

#wrap0 #main #contact #contact-list div {
  border: 0;
}

#wrap0 #main #contact #contact-list h2 {
  font-size: var(--contacth2Font);
  margin-top: 20px;
  border: 0;
}

#wrap0 #main #contact #contact-list p {
  font-size: var(--contactPFont);
  padding: 20px;
  border: 0;
}