:root {
    --subColor3: #DADAD2;
    --subColor4: #DADAD2CC;
}

#wrap1 {
    width: 100%;
    user-select: none;
    display: none;
    border: 0;
    height: 1000px;
}

#wrap1 #menu1 {
    position: sticky;
    top: 0;
    width: calc(var(--winWidth) * 0.94);
    margin: 0 auto;
    background-color: var(--subColor3);
    border: 0;
    border-bottom: 1px solid var(--mainColor);
    z-index: 1;
}

#wrap1 #menu1 #title1 {
    float: left;
    margin-left: calc(var(--winWidth) * 0.02);
    border: var(--menuBorder);
    display: flex;
    height: var(--menuHeight);
}

#wrap1 #menu1 #title1 a {
    text-decoration: none;
    font-size: var(--menuTitleFont);
    font-family: 'Colonna';
    color: inherit;
    border: var(--menuBorder);
    margin: auto;
}

#wrap1 .hamburger-btn {
    display: none;
}

#wrap1 #menu1 .gnb {
    float: right;
    list-style-type: none;
    font-size: 0;
    margin-right: calc(var(--winWidth) * 0.02);
    border: 0;
}

#wrap1 #menu1 .gnb li {
    font-size: var(--menuLiFont);
    line-height: var(--menuHeight);
    margin-left: calc(var(--winWidth) * 0.02);
    display: inline-block;
    border: var(--menuBorder);
}

#wrap1 #menu1 .gnb li a {
    text-decoration: none;
    color: inherit;
    border: 0;
}

#wrap1 #menu1 .gnb li span {
    color: inherit;
    border: 0;
}

#wrap1 #menu1 .gnb #sign-out,
#wrap1 #menu1 .gnb #del-account,
#wrap1 #menu1 .gnb #login-username,
#wrap1 #menu1.logged-in-menu .gnb #sign-in,
#wrap1 #menu1.logged-in-menu .gnb #sign-up {
    display: none;
}

#wrap1 #menu1.logged-in-menu .gnb #sign-out,
#wrap1 #menu1.logged-in-menu .gnb #del-account,
#wrap1 #menu1.logged-in-menu .gnb #login-username {
    display: initial;
}


/* sign-form */
:root {
    --signFormW: min(500px, calc(var(--winWidth) * 0.5));
    --signFont: 18px;
}

#wrap1 {
    background-color: var(--subColor3);
}

#wrap1 #sign-form {
    position: fixed;
    width: var(--signFormW);
    left: 50%;
    top: 25%;
    /* transform: translateY(calc(-50%)); */
    margin-left: calc(var(--signFormW)/-2);
    display: none;
    border: 1px solid var(--mainColor);
    background-color: var(--subColor3);
}

#wrap1 #sign-form>div {
    padding: 40px;
    text-align: center;
    border: 0;
}

#wrap1 #sign-form input {
    display: block;
    margin: 10px auto;
    margin-top: 20px;
    border: 0;
    border-bottom: 1px solid var(--mainColor);
    background-color: transparent;
    font-size: var(--signFont);
}

#wrap1 #sign-form .btns {
    text-align: center;
    border: 0;
}

#wrap1 #sign-form .btns button {
    margin: 10px;
    margin-top: 25px;
    padding: 10px 20px;
    color: var(--subColor3);
    background-color: var(--mainColor);
    border: 0;
    font-size: var(--signFont);
}

#wrap1 #sign-form .btns button:disabled {
    background-color: var(--mainColor2);
}

#wrap1 #sign-form #fb-password-reset {
    margin-top: 10px;
    font-size: var(--signFont);
    border: 0;
}

#wrap1 #sign-form .btns #fb-sign-in,
#wrap1 #sign-form .sing-in-form .btns #fb-sign-up,
#wrap1 #sign-form .sing-in-form input#username,
#wrap1 #sign-form #fb-password-reset {
    display: none;
}

#wrap1 #sign-form .sing-in-form .btns #fb-sign-in {
    display: initial;
}

#wrap1 #sign-form .sing-in-form #fb-password-reset {
    display: inline-block;
}


/* products */
:root {
    --productW: 300px;
    --productH: 400px;
}

#wrap1 #products {
    width: calc(var(--winWidth) * 0.94);
    height: 1000px;
    margin: 0 auto;
    border: 0;
}

#wrap1 #products #product-list {
    border: 0;
}

#wrap1 #products #product-list>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 0;
}


#wrap1 #products #product-list>div .product {
    position: relative;
    width: var(--productW);
    height: var(--productH);
    border: 0;
    margin: 30px;
}

#wrap1 #products #product-list>div .product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
}

#wrap1 #products #product-list>div .product>div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(100, 100, 100, 0.2);
    border: 0;
}

#wrap1 #products #product-list>div .product>div:hover {
    opacity: 0.8;
}

#wrap1 #products #product-list>div .product>div .table {
    display: table;
    width: 100%;
    height: 50%;
    border: 0;
}

#wrap1 #products #product-list>div .product>div .table h2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 0;
}

#wrap1 #products #product-list>div .product>div .table p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    border: 0;
}