/* tablet 768px ~ 992px 1100px or */
@media screen and (max-width: 1100px) {}

/* mobile 0 ~ 768px */
@media screen and (max-width: 768px) {
  #wrap1 #menu1 .hamburger-btn {
    float: right;
    display: block;
    cursor: pointer;
    height: var(--menuHeight);
    width: var(--menuHeight);
    border: 0;
  }

  #wrap1 #menu1 .hamburger-btn span {
    display: block;
    border: var(--menuHMg) solid var(--mainColor);
    width: calc(var(--menuHeight) * 0.7);
    margin: calc((var(--menuHeight) - var(--menuHMg)*6)/4) auto;
  }

  #wrap1 #menu1 .gnb {
    display: none;
    position: absolute;
    margin-right: 0;
    top: calc(var(--menuHeight) + 1px);
    right: 0;
    background-color: var(--subColor2);
  }

  #wrap1 #menu1 .gnb li {
    display: block;
    text-align: right;
  }
}