@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap');

@font-face {
  font-family: 'Colonna';
  src: url('../../css/COLONNA.woff');
}

:root {
  /* 100% for intro */
  --winWidth: 100%;
  --winHeight: 100vh;
  --mainColor: #444242;
  --subColor: #EEEEEE;
  --subColor2: #EEEEEECC;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

body {
  margin: 0;
  padding: 0;
}

div,
h1,
h2,
p,
ul,
li,
i,
a,
img,
span,
canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
  color: var(--mainColor);
  font-family: 'Noto Serif KR', 'Nanum Gothic';
}

body {
  background-color: var(--subColor);
}

#wrap {
  border: 0;
  /* background-color: var(--subColor); cannot show three ... why? */
  /* font-size: 18px, 22px, 24px, 34px, 56px */
}

#wrap #intro {
  position: fixed;
  /* width: var(--winWidth); */
  width: 100%;
  height: var(--winHeight);
  color: var(--subColor);
  background-color: var(--mainColor);
  z-index: 5;
  border: 0;
  user-select: none;
}

#wrap #intro>div {
  color: var(--subColor);
  text-align: center;
  line-height: var(--winHeight);
  font-size: min(34px, calc(var(--winWidth) * 0.34 * 0.08));
  border: 0;
  display: none;
}

#wrap #intro>div span {
  color: inherit;
  font-family: 'Colonna';
  font-size: min(56px, calc(var(--winWidth) * 0.56 * 0.08));
  border: 0;
}

#wrap #webgl-output {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  border: 0;
}

#wrap #webgl-output canvas {
  display: block;
  border: 0;
}

#wrap #down-arrow {
  position: fixed;
  font-size: min(56px, calc(var(--winWidth) * 0.56 * 0.08));
  bottom: calc(var(--winHeight) * 0.05);
  left: calc(var(--winWidth) * 0.05);
  opacity: 0.5;
  border: 0;
  display: none;
  z-index: 3;
}

#wrap #down-arrow i {
  display: block;
  cursor: pointer;
  /* visibility: visible; */
}

#wrap #down-arrow * {
  border: 0;
}

#wrap #front {
  position: relative;
  height: var(--winHeight);
  color: var(--mainColor);
  user-select: none;
  border: 0;
}

#wrap #front h1 {
  position: absolute;
  top: calc(var(--winHeight) * 0.125);
  left: calc(var(--winWidth) * 0.125);
  font-size: min(90px, calc(var(--winWidth) * 0.90 * 0.08));
  font-weight: normal;
  font-family: 'Colonna';
  border: 0;
}

#wrap #front p {
  position: absolute;
  width: calc(var(--winWidth) * 0.6);
  bottom: calc(var(--winHeight) * 0.125);
  right: calc(var(--winWidth) * 0.120);
  font-size: min(34px, calc(var(--winWidth) * 0.34 * 0.08));
  text-align: right;
  border: 0;
}


/************/
/*   main   */
#wrap #main {
  /* width: var(--winWidth); */
  width: 100%;
  border: 0;
}


/* menu */
:root {
  --menuHeight: 60px;
  --menuTitleFont: 34px;
  --menuLiFont: 18px;
  --menuBorder: 0px solid red;
}

#wrap #main #menu {
  position: sticky;
  top: 0;
  opacity: 0;
  width: calc(var(--winWidth) * 0.94);
  margin: 0 auto;
  background-color: var(--subColor);
  border: 0;
  border-bottom: 1px solid var(--mainColor);
  z-index: 2;
}

#wrap #main #menu #title {
  float: left;
  margin-left: calc(var(--winWidth) * 0.02);
  border: var(--menuBorder);
  /* line-height: var(--menuHeight); */
  display: flex;
  height: var(--menuHeight);
}

#wrap #main #menu #title a {
  text-decoration: none;
  font-size: var(--menuTitleFont);
  font-family: 'Colonna';
  color: inherit;
  border: var(--menuBorder);
  margin: auto;
}

#wrap #main #hamburger-btn {
  display: none;
}

#wrap #main #menu #gnb {
  float: right;
  list-style-type: none;
  font-size: 0;
  margin-right: calc(var(--winWidth) * 0.02);
  border: 0;
}

#wrap #main #menu #gnb li {
  font-size: var(--menuLiFont);
  line-height: var(--menuHeight);
  margin-left: calc(var(--winWidth) * 0.02);
  display: inline-block;
  border: var(--menuBorder);
}

#wrap #main #menu #gnb li a {
  text-decoration: none;
  color: inherit;
  border: 0;
}


/* story */
:root {
  --storyPFont: min(22px, calc(var(--winWidth) * 0.22 * 0.08));
}

#wrap #main #story {
  position: relative;
  height: var(--winHeight);
  border: 0;
  opacity: 0;
}

#wrap #main #story .img {
  position: absolute;
  top: calc(var(--menuHeight) + var(--winHeight) * 0.0);
  left: calc(var(--winWidth) * 0.05);
  width: calc(var(--winWidth) * 0.55);
  height: calc(var(--winHeight) * 0.8);
  overflow: hidden;
  border: 0;
}

#wrap #main #story .img img {
  vertical-align: bottom;
  min-width: 100%;
  min-height: 100%;
  border: 0;
}

#wrap #main #story p {
  position: absolute;
  width: calc(var(--winWidth) * 0.33);
  bottom: calc(var(--winHeight) * 0.05);
  right: calc(var(--winWidth) * 0.05);
  font-size: var(--storyPFont);
  border: 0;
}


/* products */
:root {
  --productsPFont: min(22px, calc(var(--winWidth) * 0.22 * 0.08));
}

#wrap #main #products {
  position: relative;
  opacity: 0;
  border: 0;
}

#wrap #main #products #product-list {
  border: 0;
}

#wrap #main #products #product-list>div {
  border: 0;
}

#wrap #main #products #product-list>div .product {
  position: relative;
  height: var(--winHeight);
  border: 0;
}

#wrap #main #products #product-list>div .product .img {
  position: absolute;
  top: calc(var(--menuHeight) + var(--winHeight) * 0.0);
  left: calc(var(--winWidth) * 0.05);
  width: calc(var(--winWidth) * 0.55);
  height: calc(var(--winHeight) * 0.8);
  overflow: hidden;
  border: 0;
}

#wrap #main #products #product-list>div .product .img img {
  vertical-align: bottom;
  min-width: 100%;
  min-height: 100%;
  border: 0;
}

#wrap #main #products #product-list>div .product p {
  position: absolute;
  width: calc(var(--winWidth) * 0.33);
  bottom: calc(var(--winHeight) * 0.05);
  right: calc(var(--winWidth) * 0.05);
  font-size: var(--productsPFont);
  border: 0;
}

#wrap #main #products #product-list>div .product.right .img {
  right: calc(var(--winWidth) * 0.05);
  left: auto;
}

#wrap #main #products #product-list>div .product.right p {
  left: calc(var(--winWidth) * 0.05);
  right: auto;
}


/* contact */
:root {
  --contacth2Font: min(22px, calc(var(--winWidth) * 0.22 * 0.08));
  --contactPFont: min(18px, calc(var(--winWidth) * 0.18 * 0.08));
}

#wrap #main #contact {
  position: relative;
  height: var(--winHeight);
  border: 0;
}

#wrap #main #contact #map {
  position: absolute;
  width: calc(var(--winWidth) * 0.45);
  height: calc(var(--winHeight) * 0.7);
  top: calc(var(--menuHeight) + var(--winHeight) * 0.1);
  left: calc(var(--winWidth) * 0.05);
  border: 2px solid var(--mainColor);
}

#wrap #main #contact #map * {
  border: 0;
}

#wrap #main #contact #contact-list {
  position: absolute;
  width: calc(var(--winWidth) * 0.4);
  top: calc(var(--menuHeight) + var(--winHeight) * 0.1);
  right: calc(var(--winWidth) * 0.05);
  border: 0;
}

#wrap #main #contact #contact-list div {
  border: 0;
}

#wrap #main #contact #contact-list h2 {
  font-size: var(--contacth2Font);
  margin-top: 20px;
  border: 0;
}

#wrap #main #contact #contact-list p {
  font-size: var(--contactPFont);
  padding: 20px;
  border: 0;
}